/* CSS Document */
ul{ list-style:none;padding:0px;}
.ps_absolute{position:absolute; width:100%; }
.banner{margin-top:-18px;}
#nav{line-height:20px;margin-top:-50px;margin-right:5%; opacity:1;}
#nav ul{width:100%;text-align:center;}
#nav ul li{background:#FFFFFF;width:50px; height:5px; opacity:0.9;margin:0 auto;display:inline-block;}
#nav ul li.active{ background:#FFFFFF;opacity:0.5;}
#scroller ul li{ float:left;}
#scroller ul li a{ height:auto;width:auto;}
.toolbar{height:50px; line-height:50px;margin-top:-100px;opacity:1;text-align:center;width:99%;}
.toolbar div{width:20%;display:inline-block;background:rgba(33, 150, 243, 0.8);border: 1px solid #FFFFFF;color:#FFFFFF;cursor:pointer;}
.toolbar div:hover{background:rgb(6, 74, 226);}
.toolbar div:active{background:#eb7664;}

#arrow_up {
	display:none;
	position:fixed;
	bottom:100px;
	right:50px;
	width:90px;
	height:90px;
	z-index:60;
	_position:absolute;
 _right:expression(eval(document.documentElement.scrollright+1000));
 _top:expression(eval(document.documentElement.scrollTop+700));
}