<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeBoardMapper">
	
	<!--表名 -->
	<sql id="tableName">
		sys_noticeboard
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		content,
		update_name
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{content},
		#{update_name}	
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		content = #{content},
		update_name = #{update_name}
	</update>

	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	

	
	<!-- (skywayct) -->
</mapper>